.button-buy{
    margin: 0px 0px 30px 30px;
}

.formulario__button__btn{
    border-color: $smoky-black;
    background: $white;
    color: $smoky-black;
    font-family: $raleway;
    font-style: 'sans-serif';
    font-weight: $negro;
    padding: 20px;
}