@media (min-width:1200px){
    .navbar{
        padding-left: 0px;
        margin-left: 0px;
    }
}

@media (max-width:1024px){
    .navbar{
        padding-left: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        margin-left: 0px;
        margin-right: -2px;
        
    }
}

@media (max-width:375px){
    .navbar{
        padding-left: 0px;
        margin-left: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        margin-right: -40px;
    }
}

.navbar-nav{
    padding-right: 30px; 
    font-family: $raleway;
    font-weight: $negro;
    color:$smoky-black;
} 

.navbar-light {
    .navbar-brand {
    color: $white;
    font-size: $x-large;
    background-color: $smoky-black;
    font-family: $old-standar-tt; 
    padding: 15px;
}
}

.navbar-light .navbar-nav .nav-link {
    color: $smoky-black;
  }