.navbar{
    padding-left: 0px;
    margin-left: 0px;
}
.navbar-nav{
    font-family: $raleway;
    padding-right: 30px;
} 


.navbar-light {
    .navbar-brand {
    color: $white;
    font-size: $xx-large;
    background-color: $smoky-black;
}
}

