@media (min-width:1200px){
    .form{
        background-color: $smoky-black;
        color: $white;
        margin-right: 737px;
        padding-top: 30px;
        padding-left: 30px;
        padding-bottom: 0px;
    }
}

@media (max-width:1024px){
    .form{
        background-color: $smoky-black;
        color: $white;
        margin-right: 100px;
        padding-top: 30px;
        padding-left: 30px;
        padding-bottom: 57px;
    }
}

@media (max-width:375px){
    .form{
        background-color: $smoky-black;
        color: $white;
        margin-right: 14px;
        padding-top: 30px;
        padding-left: 10px;
        padding-bottom: 50px;
    }
}

@media (min-width:1200px){
    .form__news{
        padding-left: 18px;
        padding-right: 46px;
        padding-bottom: 108px;
        margin-left: 20px;
        font-family: $old-standar-tt;
    }
}

@media (max-width:1024px){
    .form__news{
        padding-left: 18px;
        padding-right: 100px;
        padding-bottom: 105px;
        margin-bottom: 0px;
        margin-left: 20px;
        font-family: $old-standar-tt;
    }
}

@media (max-width:375px){
    .form__news{
        font-family: $old-standar-tt;
        padding-right: 30px;
        padding-bottom: 0px;
        padding-left: 12px;
    }
}

.form-control{
    font-family: $raleway;
}

@media (min-width:1200px){
    .form__call-text{
        padding-bottom: 20px;
        font-family: $old-standar-tt;
    }
}

@media (max-width:1024px){
    .form__call-text{
        padding-bottom: 20px;
        font-family: $old-standar-tt;
    }
}

@media (max-width:375px){
    .form__call-text{
        padding-bottom: 20px;
        font-family: $old-standar-tt;
    }
}

.form-control{
    border-radius: 0px;
}